@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background: #eee;
  color:  #666;
  overflow: auto;
}

.inputForm{
  background-color: #F5F5F5;
}

.logs{
  height: 240px;
}

.log-details{
  max-height: 230px;
  overflow: auto;
}